<!DOCTYPE html>
<html>
  <head>
    <link rel="SHORTCUT ICON" href="{{ url_for('static', filename='favicon/favicon.ico') }}" type="image/x-icon" />
    <link rel="ICON" href="{{ url_for('static', filename='favicon/favicon.ico') }}" type="image/ico" />
    <script>
      //disable or enable scrolling
      function disableScroll() { 
        // Get the current page scroll position 
        scrollTop = window.pageYOffset || document.documentElement.scrollTop; 
        scrollLeft = window.pageXOffset || document.documentElement.scrollLeft, 
        // if any scroll is attempted, set this to the previous value 
        window.onscroll = function() { 
          window.scrollTo(scrollLeft, scrollTop); 
        }; 
      }  

      function enableScroll() { 
        window.onscroll = function() {}; 
      };
    </script>
    {% if title %}
      <title>Kimterpreting - {{ title }}</title>
    {% else %}
      <title>Kimterpreting</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    {% block head %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <header id="header" class="header initial-fade-in">
      <div>
        <a id="logo" href="{{ url_for('home') }}"><h1 id="header-logo" class="header-logo">Kimterpreting</h1></a>
        <div class="header-links-container">
          <img id="header-menu" class="header-menu" src="{{ url_for('static', filename='icons/menu.svg') }}">
          <ul class="header-links">
            <li><a class="nav-link" href="{{ url_for('about') }}">ABOUT</a></li>
            <li><a class="nav-link" href="/contact/message">CONTACT</a></li>
            <li><a class="nav-link" href="{{ url_for('faq') }}">FAQ</a></li>
            <li><a class="nav-link" href="{{ url_for('terms') }}">TERMS AND CONDITIONS</a></li>
          </ul>
        </div>
      </div>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    
    <div id="mobile-navigation" class="mobile-navigation">
      <img id="menu-close" class="menu-close" src="{{ url_for('static', filename='icons/close.svg') }}">
      <ul class="mobile-links">
        <li><a class="nav-link" href="{{ url_for('about') }}">ABOUT</a></li>
        <li><a class="nav-link" href="/contact/message">CONTACT</a></li>
        <li><a class="nav-link" href="{{ url_for('faq') }}">FAQ</a></li>
        <li><a class="nav-link" href="{{ url_for('terms') }}">TERMS AND CONDITIONS</a></li>
      </ul>
    </div>

    <footer>
      <p>
        Copyright &#169; 
        <a href="{{ url_for('home') }}">Kimterpreting</a> 
        All Rights Reserved
      </p>
    </footer>

    <script>
      //jquery smooth scrolling to scroll down arrow, from css-tricks

    </script>

    <script>
      //event listeners
      menuIcon = document.getElementById('header-menu')
      closeIcon = document.getElementById('menu-close')
      menuIcon.addEventListener('click', toggleNavWindow)
      closeIcon.addEventListener('click', toggleNavWindow)



      //opens mobile navigation window
      function toggleNavWindow() {
        mobileMenu = document.getElementById('mobile-navigation')
        if (mobileMenu.style.visibility != "visible") {
          mobileMenu.style.visibility = "visible"
          mobileMenu.style.opacity = "1"
          menuIcon.style.visibility = "hidden"
          menuIcon.style.opacity = "0"
          disableScroll()
        } else {
          mobileMenu.style.visibility = "hidden"
          mobileMenu.style.opacity = "0"
          menuIcon.style.visibility = "visible"
          menuIcon.style.opacity = "1"
          enableScroll()
        }
        if (mobileMenu.style.display != "none") {
          mobileMenu.style.display = "initial"
        } else {
          mobileMenu.style.display = "none"
        }
      }
      $(document).ready(function() {

        //returns the distance of an element from the top of the window
        function findDistance(el) {
          var distanceToTop = $(el).offset().top - $(window).scrollTop()
          return distanceToTop
        }
        //displays an element (for use with the fade-in class)
        function showEl(el) {
          if (findDistance(el) < .95 * $(window).height()) {
            $(el).css(
              {
                opacity: 1,
                visibility: 'visible',
                transform: 'none',
              }
            )
          }
        }

        //returns the height of an element as an integer
        function getHeightAsInt(el) {
          var height = $(el).css("height")
          var height = height.replace('px', '')
          var height = parseFloat(height)
          return height
        }

        //displays the nav bar if the given element is at the top of the window
        function isTopOfWindow(el) {
          if (findDistance(el) < 0) {
            $('#header').addClass('secondary-header').removeClass('initial-fade-in')
          } else if (findDistance(el) >= getHeightAsInt('#header')) {
            $('#header').removeClass('secondary-header')
          }
        }

        document.addEventListener("scroll", function() { isTopOfWindow('#main-content') })

        //scrolls the main content top the top of the screen
        function scrollToContent(el) {
          var pos = $(el).position().top
          window.scrollTo(0, pos)
        }

        //document.getElementById('scroll-down').addEventListener("click", function() { scrollToContent('#main-content') })
      })
    </script>
    <script>
      //smooth scrolling jquery from w3shools
      $(document).ready(function(){
        // Add smooth scrolling to all links
        $("a").on('click', function(event) {
      
          // Make sure this.hash has a value before overriding default behavior
          if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();
      
            // Store hash
            var hash = this.hash;
      
            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 800, function(){
          
              // Add hash (#) to URL when done scrolling (default click behavior)
              window.location.hash = hash;
            });
          } // End if
        });
      });
    </script>
    {% block scripts %}
    {% endblock scripts %}
  </body>
  
</html>