{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block content %}
  <div class="fill-screen heading-page">
    <div class="heading">
      <h1>FAQ</h1>
      <h4>
        There is no such thing as a silly question. I shall try to 
        answer some of the common queries here but please do get in 
        touch if I haven't answered yours here.
      </h4>
      <a href="#main-content">
        <img id='scroll-down' class="down" src="{{ url_for('static', filename='icons/expand.svg') }}" width="50px">
      </a>
    </div>
  </div>
  <div id="main-content" class="top container">
    <div id="FAQ-1" class="card services-container fade-in">
      <h2>
        What is British Sign Language?
      </h2>
      <p>
        <a href="https://en.wikipedia.org/wiki/British_Sign_Language" target="_blank">
          British Sign Language (BSL) 
        </a> 
        is the most common sign language used in the UK. BSL was 
        <a href="http://www.telegraph.co.uk/news/uknews/1425033/Sign-language-wins-official-recognition.html" target="_blank">
          recognised
        </a> 
        by the Government as an official minority language in the 
        UK in 2003. It is mainly used by people who are Deaf or hard of hearing.  
        BSL is a language with its own grammar and syntax - it is not dependent or 
        strongly influenced by English. This is why providing information in written 
        English is often not adequate in ensuring people who use BSL have access to 
        information and conversations. 
        <br>
        Sign Supported English (SSE) is another form of sign language used in the UK. 
        It is not a language in its own right. It uses many of the same signs as are 
        used in BSL, but they are used in the same order as English. It is often used 
        to support spoken English.
      </p>
    </div>
    <div id="FAQ-2" class="card services-container fade-in">
      <h2>
        How do I find and book an interpreter?
      </h2>
      <p>
        You can contact interpreters directly by getting their contact information 
        either from the 
        <a href="https://www.asli.org.uk/members/" target="_blank">
          ASLI directory 
        </a>
        or the 
        <a href="http://www.nrcpd.org.uk/" target="_blank">
          NRCPD register
        </a>. 
        There are also many sign language agencies which can arrange sign language 
        interpreters on your behalf for a fee.
      </p>
    </div>
    <div id="FAQ-3" class="card services-container fade-in">
      <h2>
        Why should I book a Qualified Interpreter - my friend knows some sign language, can they help?
      </h2>
      <p>
        Many people know some sign language. They may have learnt from friends or family 
        or attended sign language courses. However by booking an interpreter who is NRCPD 
        registered, you are given the safeguard of knowing the 
        <a href="http://www.nrcpd.org.uk/page.php?content=23" target="_blank">
          standards
        </a> 
         you can expect and means of taking action if you are not satisfied with the service 
        you receive. An NRCPD registered interpreter has:
        <ul style="margin-left: 20px">
          <li>
            Appropriate language qualifications (British Sign Language and English)
          </li>
          <li>
            Acheived the required standards in interpreting appropriate to their level of registration
          </li>
          <li>
            Agreed to follow the NRCPD's 
            <a href="http://www.nrcpd.org.uk/page.php?content=30" target="_blank">
              Code of Conduct
            </a>
          </li>
          <li>
            Agreed to abide by the NRCPD's 
            <a href="http://www.nrcpd.org.uk/page.php?content=35" target="_blank">
              Complaints and Disciplinary Procedure
            </a>
          </li>
          <li>
            <a href="https://www.gov.uk/disclosure-barring-service-check/overview", target="_blank">
              DBS Enhanced Check
            </a>
            , able to be checked by anyone with a valid reason to do so
          </li>
          <li>
            Professional Indemnity Insurance
          </li>
          <li>
            An identity badge to confirm their registration status
          </li>
        </ul>
        ​NRCPD registered interpreters are professionals. You should be able to expect 
        the highest level of interpreting service and professional conduct.
      </p>
    </div>
    <div id="FAQ-4" class="card services-container fade-in">
      <h2>
        ​How many interpreters do I need to book?
      </h2>
      <p>
        If the event is likely to last more than two hours and depending on the 
        complexity, you may need to book two or more interpreters. This will also 
        depend on the nature of the assignment e.g where you might want back up/
        have several workshops, where an interpreter will be required during any 
        breaks as well as during the event itself. Check with the interpreter or 
        agency when booking.
      </p>
    </div>
    <div id="FAQ-5" class="card services-container fade-in">
      <h2>
        What does the interpreter need from me?
      </h2>
      <p>
        To ensure the interpreter can provide the best possible service, it is usually necessary for them to spend some time preparing for the assignment. If you give the interpreter paperwork or information only at the start of the assignment/ meeting, this may not allow sufficient time for the necessary preparation.
        <br>
        What you need to give the interpreter:
        <ul style="margin-left: 20px;">
          <li>Relevant paperwork - minutes, agendas, speeches, training materials and so on</li>
          <li>The name of the person in charge of the event on arrival</li>
          <li>Details of any other interpreters if any</li>
          <li>Any other information that is relevant to the event</li>
        </ul>
        It is also helpful for interpreters to have time to discuss any issues on arrival to please allow  time for this.
      </p>
    </div>
    <div id="FAQ-6" class="card services-container fade-in">
      <h2>
        What should I think about during the event?
      </h2>
      <p>
        There are a number of things that will enable the interpreter to provide an effective service:
        <ul style="margin-left: 20px">
          <li>
            <h4>Environment</h4>
            ​Effective communication requires that the person(s) using sign language and the 
            interpreter are able to see each other clearly and that those relying on spoken 
            English are able to hear the interpreter clearly
          </li>
          <li>
            <h4>Turn Taking</h4>
            ​It is impossible to interpret two people at the same time. Good practice means 
            that one person speaks/ signs at a time.​
          </li>
          <li>
            <h4>Breaks</h4>
            ​The process of interpreting is demanding. It is important to ensure that regular 
            breaks are scheduled and that the interpreter is not expected to work during 
            these breaks.
          </li>
        </ul>      
        For more information about the role of an interpreter, please click here.
      </p>
    </div>
    <div id="FAQ-7" class="card services-container fade-in">
      <h2>
        You mentioned that you have a sign name. What on earth is that?
      </h2>
      <p>
        Well done for paying attention! A 'sign name' is a sign used by the Deaf and 
        interpreting community which is used to uniquely identify a person- a bit like a 
        nickname. A sign name can be linked to a person's character, their appearance or 
        a specific activity/ habit. My Deaf friends and clients noticed that I frequently 
        turn up with a cycle helmet under my arm and hi-visability clothing... it wasn't 
        long before my sign name, 'cycle', stuck.
      </p>
    </div>
    <div id="FAQ-8" class="card services-container fade-in">
      <h2>
        Would you like tea or coffee?
      </h2>
      <p>
        Thanks for asking! I actually don't like the taste of either. I'm happiest with a 
        glass of water (especially if I've cycled to see you!)
      </p>
    </div>
  </div>
{% endblock content %}
{% block scripts %}
  <script>
    $(document).ready(function() {
      function findDistance(el) {
        var distanceToTop = $(el).offset().top - $(window).scrollTop()
        return distanceToTop
      }
      function showEl(el) {
        if (findDistance(el) < .95 * $(window).height()) {
          $(el).css(
            {
              opacity: 1,
              visibility: 'visible',
              transform: 'none',
            }
          )
        }
      }
      document.addEventListener("scroll", function() { showEl('#FAQ-1') })
      document.addEventListener("scroll", function() { showEl('#FAQ-2') })
      document.addEventListener("scroll", function() { showEl('#FAQ-3') })
      document.addEventListener("scroll", function() { showEl('#FAQ-4') })
      document.addEventListener("scroll", function() { showEl('#FAQ-5') })
      document.addEventListener("scroll", function() { showEl('#FAQ-6') })
      document.addEventListener("scroll", function() { showEl('#FAQ-7') })
      document.addEventListener("scroll", function() { showEl('#FAQ-8') })

    })
  </script>
{% endblock %}