{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block content %}
  <div class="fill-screen heading-page">
    <div class="heading">
      <h1>Terms and Conditions</h1>
      <h4>See below for a full list of terms and conditions.</h4>
      <img id='scroll-down' class="down" src="{{ url_for('static', filename='icons/expand.svg') }}" width="50px">
    </div>
  </div>
  <div id="main-content" class="fill-screen top container">
    <div id="TERMS-1" class="card terms-container fade-in">
      <h1>
        1. Definitions
      </h1>
      <p>
        'Interpreter' shall mean the person who performs the act of interpreting spoken or 
        signed communication into another language.
        <br><br>
        'Speaker' shall mean the person making the original spoken or signed communication.
        <br><br>
        'Client' shall mean the party or intermediary engaging the services of the Interpreter 
        and having responsibility for his/her remuneration.
        <br><br>
        'Assignment' shall mean any period or set of consecutive periods of interpreting for 
        one specific purpose or event.
        <br><br>
        'Circumstances' shall mean any circumstances deriving from any cause, which is beyond 
        the control of the Interpreter or the Client.
      </p>
    </div>
    <div id="TERMS-2" class="card terms-container fade-in">
      <h1>
        2. Services Provided
      </h1>
      <p>
        <h4>2.1</h4>The services provided by the Interpreter shall comprise the interpreting 
        services agreed in writing at the time when an assignment is accepted and/or those 
        specified in these Terms and Conditions of Business.
        <br><br>
        <h4>2.2</h4>They shall not, without express agreement confirmed in writing at the 
        time, include any additional services.
      </p>
    </div>
    <div id="TERMS-3" class="card terms-container fade-in">
      <h1>
        3. Contracts
      </h1>
      <p>
        <h4>3.1</h4>All assignments shall be confirmed by a written contract between the 
        Client and the Interpreter, which shall include these Terms and Conditions and any 
        variants explicitly agreed.
        <br><br>
        <h4>3.2</h4>If an Interpreter is commissioned for an assignment and there is no time 
        to enter into a written contract, the assignment shall be entered into on the basis of 
        an oral contract only and these Terms of and Conditions shall be deemed to apply.
        <br><br>
        <h4>3.3</h4>Where an Interpreter's services have been contracted for in accordance 
        with either of the means specified above, the Client shall be wholly liable for:
        <ul style="margin-left: 20px;">
          <li>
            remuneration of the Interpreter's services, and
          </li>
          <li>
            reimbursement of any expenses incurred by the Interpreter in connection with 
            the assignment whether the interpreting services are in fact provided or not.
          </li>
        </ol>
      </p>
    </div>
    <div id="TERMS-4" class="card terms-container fade-in">
      <h1>
        4. Teams
      </h1>
      <p>
        <h4>4.1</h4>Where an assignment requires continuous interpreting for any period of 
        more than one hour, a team of a minimum of two Interpreters shall be engaged to provide 
        the interpreting service.
        <br><br>
        <h4>4.2</h4>As an exception to the above, one Interpreter alone may be responsible 
        for all the interpreting services in the assignment if this is explicitly accepted 
        by the Interpreter in writing. Where this is not the case, additional fees may apply.
        <br><br>
        <h4>4.3</h4>Where three or more Interpreters are engaged for an assignment, one 
        Interpreter shall be designated Team Leader.
        <br><br>
        <h4>4.4</h4>The Team Leader shall be responsible for organising the work of the 
        Interpreting Team and all liaisons with the Client. Additional fees may be agreed 
        in advance for this work.
        <br><br>
        <h4>4.5</h4>No persons who are not members of the Team may be used as Interpreter to 
        complement the Team.
      </p>
    </div>
    <div id="TERMS-5" class="card terms-container fade-in">
      <h1>
        5. Working Hours
      </h1>
      <p>
        <h4>5.1</h4>A working day shall comprise no more than six hours time during which 
        interpreting will be required unless explicitly accepted by the Interpreter in writing.
        <br><br>        
        <h4>5.2</h4>Interpreters shall be given a midday rest period of at least one hour.
        <br><br>
        <h4>5.3</h4>If an Interpreter has agreed to work solo he/she shall be given adequate 
        opportunity for breaks, ideally 10 minutes every 25 to 30 minutes.
        <br><br>
        <h4>5.4</h4>No demands shall be made on the skills of the Interpreter during rest 
        periods or breaks.
        <br><br>
        <h4>5.5</h4>If, in the course of an interpreting assignment, it is found that 
        interpreting services will be required for an additional period after the period of work 
        for which the Interpreter was initially contracted, the Interpreter may be invited, but 
        not compelled, to:
        <ul style="margin: 0 0 20px 20px;">
          <li>
            continue for a further agreed period on that same day,
          </li>
          <li>
            continue for a further agreed period on subsequent days.
          </li>
        </ul>
        <h4>5.6</h4>If the Interpreter consents to the above, additional fees shall be paid 
        in accordance with Clause 7.3.
        <br><br>
        <h4>5.7</h4>If interpreting services are required for a continuous period of more 
        than 8 hours, a second Team shall be organised and the work shall be shared equally between the two teams.
        <br><br>
        <h4>5.8</h4>Normal working hours are Monday - Friday 8.30am - 5.00pm.
        <br><br>
        The following hours will be charged at time and a half:
        <ul style="margin: 0 0 20px 20px;">
          <li>
            Before 8.30am and after 5pm Monday to Friday, and;
          </li>
          <li>
            All day Saturday.
          </li>
        </ul>
        The following hours will be charged at double time:
        <ul style="margin: 0 0 20px 20px;">
          <li>Sunday's, and;</li>
          <li>Bank Holidays.</li>
        </ul>
        This is subject to change and individual negotiation.
      </p>
    </div>
    <div id="TERMS-6" class="card terms-container fade-in">
      <h1>
        6. Quotations for Fees
      </h1>
      <p>
        <h4>6.1</h4>Fees quoted by an Interpreter, or on behalf of a team of Interpreters, 
        in full knowledge of the contents and conditions of an assignment, shall be considered 
        contractually binding and valid for acceptance for three months only.
        <br><br>
        <h4>6.2</h4>Quotations shall be confirmed in writing and any VAT applicable, in 
        addition to the fees, shall be stipulated.
      </p>
    </div>
    <div id="TERMS-7" class="card terms-container fade-in">
      <h1>
        7. Fees and Allowances
      </h1>
      <p>
        <h4>7.1</h4>All fees and allowances shall be freely negotiated and paid in full no 
        later than 30 days following receipt of the invoice.
        <br><br>
        <h4>7.2</h4>Fees shall be charged on the basis of a full day, or half day in the case 
        of a period of three hours or less. Where the Interpreter has been invited to continue 
        for a further period in extension of the initial contract, (see Clause 5.5), a supplementary 
        fee shall be paid at an agreed hourly rate.
        <br><br>
        <h4>7.3</h4>Interest shall automatically be applied at 8% over base rate (or such rate 
        as is determined by statute, the latter prevailing), to all overdue sums from the first 
        date on which they become due until they are paid in full.  Reminder letters of overdue 
        payment will incur a charge of £40.00 per letter.
        <br><br>
        <h4>7.4</h4>Where travel to and from the Interpreter's normal place of residence and 
        an assignment involves a total of more than four hours, travel time will be remunerated 
        at 50% of the agreed hourly rate.
        <br><br>
        <h4>7.5</h4>Where travel to and from the Interpreter's normal place of residence and 
        an assignment cannot reasonably be completed within the same day as the assignment, 
        travel time will be remunerated at the same rate as working time.
        <br><br>
        <h4>7.6</h4>Where an Interpreter is required, from the outset, to work longer than the 
        working day a supplementary fee shall be negotiated at an agreed hourly rate.
        <br><br>
        <h4>7.7</h4>A supplementary fee for working unsociable hours shall be agreed between 
        the Interpreter and the Client in advance, for assignments between the hours of 18:00 
        and 08:00 or at weekends or public holidays.
        <br><br>
        <h4>7.8</h4>Where an Interpreter is required, from the outset, to work alone without 
        prior written consent, the interpreter is not obliged to provide a service and full 
        fees will still apply. If the interpreter agrees to provide a service, a supplementary 
        fee shall be applicable of an additional 50% of the original quoted fee. 
      </p>
    </div>
    <div id="TERMS-8" class="card terms-container fade-in">
      <h1>
        8. Travel and Accommodation
      </h1>
      <p>
        <h4>8.1</h4>Arrangements for travel and accommodation shall be the responsibility of 
        either the Client or the Interpreter, as agreed before acceptance.
        <br><br>
        <h4>8.2</h4>Travel arrangements shall ensure that the Interpreter arrives an agreed 
        time before the start of the assignment and does not have to leave prematurely.
        <br><br>
        <h4>8.3</h4>Where travel arrangements are made by the Client, these shall be such as to 
        ensure that the Interpreter arrives sufficiently rested to fulfil the assignment to the 
        expected standard.
        <br><br>
        <h4>8.4</h4>Where the travel arrangements are made by the Interpreter, they shall seek to 
        obtain travel and accommodation at a reasonable cost compatible with satisfactory 
        performance of the assignment. Any expenditure incurred shall be reimbursed to the 
        Interpreter within 30 days following receipt of invoice. If any such arrangements made 
        by the Interpreter have to be varied or cancelled, any reimbursed sums recovered by the 
        Interpreter shall be immediately repaid to the Client.
      </p>
    </div>
    <div id="TERMS-9" class="card terms-container fade-in">
      <h1>
        9. Cancellation
      </h1>
      <p>
        <h4>9.1</h4>If an accepted assignment is curtailed or cancelled either wholly or in 
        
        part, or performance of the assignment is frustrated for reasons, which the Client or 
        the Client's principal are responsible, the Client shall be liable for payment of a 
        cancellation fee according to Clause 9.4.
        <br><br>
        <h4>9.2</h4>Any expenditure incurred as agreed in the contract and any additional 
        expenditure incurred as a result of the cancellation shall also be reimbursed.
        <br><br>
        <h4>9.3</h4>If at the time of cancellation the Client is able to offer an alternative 
        assignment of a similar type under comparable conditions and circumstances for all or 
        part of the period of the original assignment, the Client's liability to the Interpreter 
        in respect of cancellation fees shall be reduced by the amount of the fees payable for 
        the alternative assignment.
        <br><br>
        <h4>9.4</h4>Any cancellation fee shall be agreed between the parties prior to acceptance 
        of the assignment and shall be determined in relation to the time between notification 
        of cancellation and the start date, as follows:
        <ul style="margin-left: 20px;">
          <li>
            7 days or less notice Full Fee
          </li>
          <li>
            8 to 14 days notice Half Fee
          </li>
          <li>
            15 or more days notice No Fee
          </li>
        </ul> 
      </p>
    </div>
    <div id="TERMS-10" class="card terms-container fade-in">
      <h1>
        10. Substitution of Interpreters
      </h1>
      <p>
        <h4>10.1</h4>Substitution shall only be permitted in agreement with the Client. In 
        such circumstances the Interpreter shall endeavour to find a suitable substitute.
        <br><br>
        <h4>10.2</h4>The Client shall reasonably accept this substitute, who shall be engaged 
        on the same terms as the Interpreter had previously agreed.
        <br><br>
        <h4>10.3</h4>The Client shall notify any other parties as appropriate.
        <br><br>
        <h4>10.4</h4>Acceptance of the substitute by the Client shall discharge the Interpreter 
        from any further liability.
      </p>
    </div>
    <div id="TERMS-11" class="card terms-container fade-in">
      <h1>
        11. Unavoidable Circumstances
      </h1>
      <p>
        <h4>11.1</h4>The Interpreter undertakes to notify the Client at the earliest possible 
        opportunity if he/she is prevented from undertaking an assignment or if performance is 
        frustrated by unavoidable circumstances.
        <br><br>
        <h4>11.2</h4>In giving such notice the Interpreter shall relinquish any right to:
        <ul style="margin-left: 20px;">
          <li>
            remuneration for the uncompleted part of the assignment;
          </li>
          <li>
            the reimbursement of any expenses, except those already irrecoverably 
            incurred, or necessarily incurred in returning the Interpreter to his/her 
            normal place of residence by suitable means.
          </li>
        </ul>
      </p>
    </div>
    <div id="TERMS-12" class="card terms-container fade-in">
      <h1>
        12. Preparation Materials
      </h1>
      <p>
        <h4>12.1</h4>The Client shall provide the Interpreter with relevant information and 
        preparatory materials in the form of background documentation, (See Clause 12.4), in 
        good time; preferably two weeks in advance of an assignment in order to ensure provision 
        of a quality service.
        <br><br>
        <h4>12.2</h4>If it is not possible to provide preparatory materials, and the Interpreter 
        requests such, the Client shall arrange for a briefing meeting.
        <br><br>
        <h4>12.3</h4>Attendance by the Interpreter at such a meeting shall be paid as working time.
        <br><br>
        <h4>12.4</h4>Preparatory materials shall include such items as:
        <ul style="margin: 0 0 20px 20px;">
          <li>
            programs, agendas, Minutes, reports;
          </li>
          <li>
            briefing papers, speakers notes, motions;
          </li>
          <li>
            names of participants;
          </li>
          <li>
            maps, photographs, diagrams and other visual materials;
          </li>
          <li>
            slides or other materials which will be read out or referred to
          </li>
          <li>
            lyrics, scripts, videos or scripts of films to be shown or any other 
            performance materials shall be supplied to the Interpreter by the Client not 
            less than 48 hours in advance.
          </li>
        </ul>
        <h4>12.5</h4>The Interpreter outside the context of the assignment shall not disclose 
        information contained within preparatory materials. The Interpreter shall be responsible 
        for their safekeeping and immediate return to the Client at the end of the assignment.
      </p>
    </div>
    <div id="TERMS-13" class="card terms-container fade-in">
      <h1>
        13. Working Conditions
      </h1>
      <p>
        <h4>13.2</h4>For BSL to English interpretation, the Client is to ensure that speakers 
        are well lit and in clear sight of the Interpreter or made visible by means of an image 
        providing a clear and detailed view of the speaker's face and body movements sufficient 
        for the Interpreter's requirements. This may require the provision of audio/visual equipment, 
        which shall include a microphone and television monitor, for the sole use of the Interpreter.
        <br><br>
        <h4>13.2</h4>For English to BSL interpretation the Client is to ensure that the Interpreter 
        is positioned so that they are sufficiently near to the speaker to be able to hear and can 
        be clearly seen by consumers of the service. This may require the provision of additional 
        lighting and audio equipment in the form of a 'fold-back' speaker, for the sole use of the 
        Interpreter.
        <br><br>
        If this is not possible, the Client shall ensure that the speaker's voice or film/video 
        sound track is in any case clearly conveyed directly to the Interpreter without interfering 
        noise.
      </p>
    </div>
    <div id="TERMS-14" class="card terms-container fade-in">
      <h1>
        14. Recordings
      </h1>
      <p>
        <h4>14.1</h4>No record of a Interpreter's work shall be made without the Interpreter's 
        prior consent, except where such recording is inherent within legal proceedings. Recordings, 
        which are intended for broadcast or publication, may incur an additional fee.14.1 No record 
        of a Interpreter's work shall be made without the Interpreter's prior consent, except where 
        such recording is inherent within legal proceedings. Recordings, which are intended for 
        broadcast or publication, may incur an additional fee.
      </p>
    </div>
    <div id="TERMS-15" class="card terms-container fade-in">
      <h1>
        15. Complaints and Disputes
      </h1>
      <p>
        <h4>15.1</h4>Any complaint or dispute in connection with interpreting work carried out 
        shall be notified to the Interpreter by the Client (or vice-versa) not later than one 
        month from the final day of an assignment.
        <br><br>
        <h4>15.2</h4>If the parties are unable to agree, the matter may be referred to the Chair 
        of the Standards Panel of the Association of Sign Language Interpreter. If possible, 
        such referral should be made no later than six weeks from the date on which the original 
        complaint was made.
        <br><br>
        <h4>15.3</h4>If a dispute cannot be resolved amicably between the parties, or if either 
        party refuses to accept the decision of the Standards Panel, the parties shall be subject 
        to the jurisdiction of the Courts of England and Wales.
        <br><br>
        <h4>15.4</h4>In any event these Terms and Conditions shall be construed in accordance 
        with English law.
      </p>
    </div>
    <div id="TERMS-16" class="card terms-container fade-in">
      <h1>
        16. Responsibility and Liability
      </h1>
      <p>
        <h4>16.1</h4>The interpreting task shall be carried out by the Interpreter using 
        reasonable skill and care and in accordance with the provisions and spirit of the Code 
        of Professional Conduct of the Association of Sign Language Interpreters.
        <br><br>
        <h4>16.2</h4>The Interpreter shall use his or her best endeavours to interpret to the 
        best of his or her ability, knowledge and belief.
        <br><br>
        <h4>16.3</h4>No guarantee can be given as to the absolute accuracy of any interpretation.
        <br><br>
        <h4>16.4</h4>In the event of a dispute or complaint about the work, the liability of 
        the Interpreter shall be limited to the value invoiced by the Interpreter.
        <br><br>
        <h4>16.5</h4>Consequential damages and liability are expressly excluded.
      </p>
    </div>
    <div id="TERMS-17" class="card terms-container fade-in">
      <h1>
        17. Unfair Competition
      </h1>
      <p>
        <h4>17.1</h4>Where the Client acts as an intermediary and introduces the Interpreter 
        to a third party by way of business, the Interpreter shall not, for a period of 6 
        months, approach the said third party for the purpose of soliciting work, nor work 
        for the third party in any Interpreting capacity, without the Client's written consent.
        <br><br>
        However, this shall not apply where:
        <ul style="margin-left: 20px;">
          <li>
            the third party has had previous dealings with the Interpreter;
          </li>
          <li>
            the Interpreter acts on the basis of information in the public domain;
          </li>
          <li>
            the Client has failed to pay the Interpreter;
          </li>
          <li>
            the approach from the third party is independent of the relationship with the intermediary;
          </li>
          <li>
            the approach to the third party arises as the result of broad-band advertising or;
          </li>
          <li>
            the third party is seeking Interpreters on the open market.
          </li>
        </ul>
      </p>
    </div>
    <div id="TERMS-18" class="card terms-container fade-in">
      <h1>
        18. Applicability and Integrity
      </h1>
      <p>
        <h4>18.1</h4>These Terms and Conditions of Business shall be construed jointly with 
        the Association of Sign Language Interpreters Code of Professional Conduct in order to 
        be complete and effective. They shall also be subject to any detailed arrangements or 
        any variants expressly specified in the order relating to a particular interpreting task. 
        No waiver of any breach of conditions in this document shall be considered as a waiver of 
        any subsequent breach of the same or any other provision.
      </p>
    </div>
  </div>
{% endblock content %}
{% block scripts %}
  <script>
    $(document).ready(function() {
      function findDistance(el) {
        var distanceToTop = $(el).offset().top - $(window).scrollTop()
        return distanceToTop
      }
      function showEl(el) {
        if (findDistance(el) < .95 * $(window).height()) {
          $(el).css(
            {
              opacity: 1,
              visibility: 'visible',
              transform: 'none',
            }
          )
        }
      }
      document.addEventListener("scroll", function() { showEl('#TERMS-1') })
      document.addEventListener("scroll", function() { showEl('#TERMS-2') })
      document.addEventListener("scroll", function() { showEl('#TERMS-3') })
      document.addEventListener("scroll", function() { showEl('#TERMS-4') })
      document.addEventListener("scroll", function() { showEl('#TERMS-5') })
      document.addEventListener("scroll", function() { showEl('#TERMS-6') })
      document.addEventListener("scroll", function() { showEl('#TERMS-7') })
      document.addEventListener("scroll", function() { showEl('#TERMS-8') })
      document.addEventListener("scroll", function() { showEl('#TERMS-9') })
      document.addEventListener("scroll", function() { showEl('#TERMS-10') })
      document.addEventListener("scroll", function() { showEl('#TERMS-11') })
      document.addEventListener("scroll", function() { showEl('#TERMS-12') })
      document.addEventListener("scroll", function() { showEl('#TERMS-13') })
      document.addEventListener("scroll", function() { showEl('#TERMS-14') })
      document.addEventListener("scroll", function() { showEl('#TERMS-15') })
      document.addEventListener("scroll", function() { showEl('#TERMS-16') })
      document.addEventListener("scroll", function() { showEl('#TERMS-17') })
      document.addEventListener("scroll", function() { showEl('#TERMS-18') })

    })
  </script>
{% endblock %}